body {
  background-color: rgb(246, 202, 149);
}
@media (min-width: 200px) {
  h1 {
    text-align: center;
  }
  img {
    margin: 20px auto;
    width: 70%;
  }
}
@media (min-width: 600px) {
  h1 {
    text-align: center;
  }
  img {
    margin: 20px auto;
    width: 70%;
  }
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}

.links {
  text-align: center;
}
